extends layout

mixin pretty_date(date)
	= date.getMonth()+1 + "/" + date.getDate() + "/" + date.getFullYear() + "   " 

mixin pretty_time(date)
	if date.getHours() > 12
		= date.getHours()-12+":"
	if date.getHours() < 13
		if date.getHours() == 0
			span= "12:"
		else
			span= date.getHours()+":"
	if date.getMinutes() < 10
		= "0" + date.getMinutes()
	else
		= date.getMinutes()
	if date.getHours() > 11
		| PM
	else
		| AM

block content

	div.row
		div.col-md-10.centered.text-center
			each act in acts
				div.activity
					div.row
						div.col-xs-6.text-right
							+pretty_time(act.start)
							= ' - '
							if act.stop
								+pretty_time(act.stop)
						div.col-xs-6.text-left
							= act.desc + ' '
			div#current
				= 'josh is '
				if current
					strong= current.desc
					= ' (since '
					+pretty_time(current.start)
					= ')'
				else
					= 'doing nothing'

	if login
		br
		br
		form(method="post", action="/new")
				div.text-center
					span Next Activity:
					input.form-control(type="text", name="desc")
				input(type="submit")
		br
		a(href='/stop') Stop 
		br
		br
		br
		a(href='/logout') Logout
//- block scripts
//- 	script(type='text/javascript').
//- 		var a;
