extends layout

block content

	div.row
		div.col-md-10.centered.text-center
			div#acts
			div#current

	if login
		br
		br
		div.row
			div.col-md-6.text-center.centered
				input.form-control#desc(type="text", name="desc", placeholder="Next activity...", autocomplete="off")
				br
				button#stop.btn.btn-warning(href="/stop") Stop  
				| &nbsp; &nbsp;
				a.btn.btn-danger(href="/logout") Logout
				br
				br
				div.row
					div.col-md-6
						input.form-control.search(type="text", name="d", placeholder="Search by desc...", autocomplete="off")
					div.col-md-6
						input.form-control.search(type="text", name="t", placeholder="Search by time...", autocomplete="off")
		br
		div.row
			div.col-md-10.centered.text-center
				div#search

block scripts
	script(src="/socket.io/socket.io.js")
	script(src="/js/data.js")
	if login
		script(type='text/javascript').
			//- add custom onEnter event to jQuery
			(function($) {
				$.fn.onEnter = function(func) {
					this.bind('keypress', function(e) {
						if (e.keyCode == 13) func.apply(this, [e]);    
					});               
					return this; 
				};
			})(jQuery);
			//- on document ready 
			$(function(){
				//- focus desc
				$('#desc').focus();
				//- on enter new activity
				$('#desc').onEnter(function(){
					$.ajax({
						type: "POST",
						url: "/new",
						data: {
							'desc': $(this).val()
						},
						success: function(){
							socket.emit('changed');
							reload_info();					
							$('#desc').val('');
						}
					});
				});
				$('.search').onEnter(function(){
					$.ajax({
						type: "GET",
						url: "/search/" + $(this).attr('name') + "/"+$(this).val(),
						success: function(data){
							list_act(data, '#search', true);					
							$(this).val('');
						}
					});
				});
				$('#stop').click(function(){
					$.ajax({
						type: "GET",
						url: "/stop",
						success: function(){
							socket.emit('changed');
							reload_info();
						}
					});
				});
			});
